<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="菜单" (click)="sidenav.toggle()">
    <mat-icon fontIcon="menu"></mat-icon>
  </button>
  <span><a routerLink="home">CoZ-苏黎世的呼唤</a></span>
  <div class="spacer"></div>
  <button mat-flat-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
    游客
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu" overlapTrigger>
    <h2>欢迎您，棠梨煎雪一壶茶茶到用时方恨少</h2>
    <mat-nav-list role="list">
      <mat-list-item  *ngFor="let item of userListOfNavigation" routerLink="{{item.url}}" role="listitem">
        <mat-icon matListItemIcon class="{{item.color}}">{{item.iconstring}}</mat-icon>
        <h3 matListItemTitle class="{{item.color}}">{{item.name}}</h3>
      </mat-list-item>
    </mat-nav-list>
</mat-menu>
<mat-sidenav-container style="position: relative; top: 0px; bottom: 0px;">
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
  fixedInViewport [fixedTopGap]="mobileQuery.matches ? '56' : '64'" fixedBottomGap="0" style="max-width: 100%; min-width: 200px;">
    <mat-nav-list role="list">
      <mat-list-item  *ngFor="let item of listOfNavigation" routerLink="{{item.url}}" role="listitem">
        <mat-icon matListItemIcon class="{{item.color}}">{{item.iconstring}}</mat-icon>
        <h3 matListItemTitle class="{{item.color}}">{{item.name}}</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

