<div class="view-padding">
    <mat-card>
        <mat-card-header>
            <h3 class="card-header-text">欢迎来到CoZ</h3>
        </mat-card-header>
        <mat-card-content class="card-content-text">
            <p>CoZ (Call of Zurich) 是为苏黎世的跑团人设计的车卡，约团，以及模组浏览软件，在使用本软件车卡/约团功能前，请先注册以保存您的所有信息</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <div class="card-action-field">
                <button mat-raised-button color="primary">
                    注册
                </button>
                <button mat-button color="primary">
                    登录
                </button>
            </div>
        </mat-card-actions>
    </mat-card>    
    <mat-card>
        <mat-card-header>
            <h3 class="card-header-text">关于CoZ</h3>
        </mat-card-header>
        <mat-card-content class="card-content-text">
            <p>CoZ，全名 Call of Zurich，neta自克苏鲁的呼唤（CoC），旨在为苏黎世无聊的周末生活中通过跑团增添一些乐趣（真的没有动力再去徒步了好累）
                <br><br>本软件由23（一个无聊的KP）设计，并在GitHub上开源，希望各位在使用上有愉快的体验，如果有任何不愉快的体验，请联系作者，如果觉得这个作者人真好，请帮作者买顶假发（笑）
                <br><br>(c) 2023，KP23，保留所有权利</p>
        </mat-card-content>
        <mat-card-actions align="end">
            <div class="card-action-field">
                <button mat-raised-button color="primary">
                    问题反馈
                </button>
                <button mat-button color="primary">
                    打赏作者
                </button>
            </div>
        </mat-card-actions>
    </mat-card>   
</div>
