<p *ngIf="currentProfession != null">您选择的职业是：{{currentProfession.Name}}<br>您的职业可选技能是：{{currentProfession.Skills}}</p>
<p>您现在拥有的技能点是：<strong>{{remainingSkillPoint}}/{{skillPoint}}</strong>，您现在拥有的兴趣点是<strong>{{remainingInterestPoint}}/{{interestPoint}}</strong>
</p>
<p *ngIf="remainingSkillPoint < 0" class="red-color"><strong>您的技能加点超出上限</strong></p>
<p *ngIf="remainingInterestPoint < 0" class="red-color"><strong>您的兴趣加点超出上限</strong></p>
<p>您选择的职业技能有：</p>
<h4>请进行技能加点</h4>
<app-add-personal-skill [(personalSkill)]="personalSkill" [skillLimit]="skillLimit"
    (change)="getSkills()"></app-add-personal-skill>
<div class="skill-table">
    <div *ngFor="let skill of skills" class="coc-skill-container">
        <button mat-mini-fab (click)="selectProfession(skill)" class="coc-skill-main-button"
            disabled="{{!skill.profession_selectable == true}}">
            <mat-icon *ngIf="!skill.profession_selected">star_border</mat-icon>
            <mat-icon *ngIf="skill.profession_selected">star</mat-icon>
        </button>
        <div (click)="editSkill(skill)" style="height: fit-content;">
            <p class="coc-skill-text">{{skill.name}}</p>
            <p class="coc-skill-value" *ngIf="skill.add_value != null">{{skill.final_value}}</p>
            <p class="coc-skill-value" *ngIf="skill.add_value == null">{{skill.init_value}}</p>
        </div>
    </div>
</div>