<h2 mat-dialog-title>武器详情</h2>
<div mat-dialog-content>
    <table>
        <tr *ngFor="let weapon of weaponInfoList">
            <td style="width: 170px; font-weight: 600;">{{weapon.display_name}}</td>
            <td style="width: 250px;">{{data[weapon.name]}}</td>
        </tr>
    </table>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" [mat-dialog-close]="true">添加到武器库</button>
    <button mat-button color="primary" mat-dialog-close>取消</button>
</div>

