<div class="view-padding">
    <mat-stepper>
        <mat-step>
            <form>
                <ng-template matStepLabel>信息</ng-template>
                <app-character-info-page [(basicInfoData)]="basicInfoData" (triggerSkillChange)="getSkills()" [(currentProfession)]="currentProfession"></app-character-info-page>
            </form>
            <div><button mat-raised-button matStepperNext color="primary" class="button-container-next" (click)="checkInfo()">下一步</button></div>
            
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>属性</ng-template>
                <app-character-property-page [(propData)]="propData" [(skillPoint)]="skillPoint" [currentProfession]="currentProfession" (change)="updateSkillPoint()"></app-character-property-page>
            </form>
            <br>
            <button mat-button matStepperPrevious color="primary" class="button-container-next">上一步</button>
            <button mat-raised-button matStepperNext color="primary" class="button-container-next">下一步</button>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>技能</ng-template>
                <app-character-skill-page [currentProfession]="currentProfession" [(personalSkill)]="personalSkill" [(skills)]="skills" [skillPoint]="skillPoint" [interestPoint]="interestPoint" [skillLimit]="skillLimit"></app-character-skill-page>
            </form>
            <br>
            <button mat-button matStepperPrevious color="primary" class="button-container-next">上一步</button>
            <button mat-raised-button matStepperNext color="primary" class="button-container-next" (click)="checkSkill()">下一步</button>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>武器</ng-template>
                <app-character-weapon-page [(weapons)]="weapons"></app-character-weapon-page>
                
            </form>
            <br>
            <button mat-button matStepperPrevious color="primary" class="button-container-next">上一步</button>
            <button mat-raised-button matStepperNext color="primary" class="button-container-next">下一步</button>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>背景</ng-template>
                <div style="display: flex; align-items: center;">
                    <h3>随身物品</h3>
                    <div class="spacer"></div>
                    <button mat-raised-button (click)="addNewItem()" color="primary">
                        <mat-icon>add</mat-icon>
                        添加新物品  
                    </button>
                </div>
                <div *ngIf="addNewPersonalItem">
                    <div *ngFor="let personalItemItem of personalItemItemList" style="display: flex; width: 200px; float: left">
                        <mat-form-field *ngIf="personalItemItem.type != 'button'" style="float: left;">
                            <mat-label>{{personalItemItem.display_name}}</mat-label>
                            <input matInput *ngIf="personalItemItem.type == 'text'" name="{{personalItemItem.name}}" [(ngModel)]="inEditPersonalItem[personalItemItem.name]" >
                            <mat-select *ngIf="personalItemItem.type == 'dropdown'" name="{{personalItemItem.name}}" [(ngModel)]="inEditPersonalItem[personalItemItem.name]">
                                <mat-option *ngFor="let dropdown_item of personalItemItem.dropdown_selection" value="{{dropdown_item}}">{{dropdown_item}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-button color="accented" (click)="addPersonalItem()" *ngIf="personalItemItem.type == 'button'" style="width: 100%;">
                            <mat-icon>edit</mat-icon>
                            添加/编辑该物品
                        </button>
                    </div>
                </div>
                <mat-table cdkDropList [dataSource]="personalItemListDataSource" (cdkDropListDropped)="onListDrop($event)" [cdkDropListData]="personalItemListDataSource" style="width: 100%;">
                    <ng-container *ngFor="let personalItemItem of personalItemItemList" matColumnDef="{{personalItemItem.name}}">
                        <mat-header-cell *matHeaderCellDef>{{personalItemItem.display_name}}</mat-header-cell>
                        <mat-cell *matCellDef="let element" >
                            <p *ngIf="personalItemItem.type != 'button'">{{element[personalItemItem.name]}}</p>
                            <button mat-button color="warn" (click)="removePersonalItem(element)" *ngIf="personalItemItem.type == 'button'">
                                <mat-icon>{{personalItemItem.display_name}}</mat-icon>
                            </button>
                            <button mat-button color="accent" (click)="editPersonalItem(element)" *ngIf="personalItemItem.type == 'button'">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="personalItemColumnName"></mat-header-row>
                    <mat-row matRipple *matRowDef="let row; columns:personalItemColumnName" cdkDrag [cdkDragData]="row"></mat-row>
                </mat-table>
                <button mat-raised-button color="primary" class="button-container-next" (click)="submitCharacter()">提交</button>
            </form>
        </mat-step>
    </mat-stepper>
</div>
