/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; min-width: 640px;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { text-decoration: none; color: #F5F5F5; opacity: 1; transition: opacity ease-in-out 0.2s;}
a:hover { opacity: 0.5; transition: opacity ease-in-out 0.2s;}
h2 { width: 100%; text-align: center; font-weight: 400; font-size: 1.2em;}
p { line-height: 1.5;}
mat-card { margin: 10px; border-radius:8px !important;}
.form-field-div { padding-right: 20px; float: left;}
.spacer { flex: 1 1 auto; }
.white-color { color: #F5F5F5 !important; }
.red-color { color: #e25656 !important; }
.black-color { color: #222222 !important; }
.green-color { color: #3cde7f !important; }
.mat-mdc-menu-content {padding: 8px 20px !important;}
.view-padding { padding: 10px; }
.card-header-text {margin-bottom: 10px; margin-top: 0;}
.card-content-text {margin-bottom: 10px; border-top: solid 1px #BBBBBB;}
.card-action-field {padding-bottom: 10px;}
.mdc-text-field--filled:not(.mdc-text-field--disabled) { background-color: transparent !important;}
.mdc-text-field--filled { border-radius: 0px !important;}